.div_father{
  display: flex;
  .div_children{
    border: solid 1px;
    margin: 5px;
    width: 20%; 
    background-color: #87e8de;
    .text {
      text-align: center;
    }
    input {
      text-align: center;
      color: blue;
    }
  }
}